.h1{
    text-align: center;
}

.bodyinicio, .serviciosclase{
    margin-top: 1%;
    text-align: center;
}
.imageninicio{
    height: 50%;
    max-width: 50%;
    
}
.serviciosclase{
    margin-top: 3%;
    text-align: center;
}